/* modified from https://www.w3schools.com/howto/howto_css_fixed_menu.asp */

.navbar {
  background-color: #454545;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #fdfdfd;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background: #fdfdfd;
  color: #454545;
}

.render-controls {
    float: left;
    width: 15%;
    text-align: left;
    padding: 10px;
}

.texture-selections {
    float: left;
    width: 20%;
    display: inline-block;
}

.main {
  margin-top: 25px;
}

.canvas-wrapper {
}

#canvas {
  display: block;
  border: 1px solid black;
  margin: 0 auto;
}
